/* Adds padding to scroll nav links since headers position is fixed and would cover the content */
html {
    scroll-padding-top: 100px;
}

/* Margin of 0 allowed for the header to take the entire space */
body {
    margin: 0;
    background-color: #A7CBD9;
}

a {
    text-decoration: none;
    color: white;
}

header {
    color: white;
    width: 100%;
    background-color: #34495e;
    position: fixed;
    top: 0px;
    display: flex;
    height: 70px;
    z-index: 1;
}

#header-text {
    width: 35%;
    font-size: 18px;
    display: flex;
    align-items: center;
    border-right: 7px solid white;
    height: 100%;
}

#header-nav {
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 17px;
}

/* Adds a white vertical line in between navigation links for better UI */
.vertical-line {
    border-left: 2px solid white;
    height: 75%;
}

/* Margins to center the main content */
main {
    margin: 100px 15% 0 15%;
}

/* Styles and sets the height for about-me and work card */
#about-me,
#work {
    height: 520px;
    background-color: lavenderblush;
    border: 2px solid darkblue;
}

/* Adds spacing between about-me and work card */
#work {
    margin-top: 20px;
    height: auto;
}

.card-title {
    height: 8%;
    font-size: 25px;
    text-align: center;
}

/* Sets the height and alignment for the image */
#image-container {
    height: 65%;
    display: flex;
    justify-content: center;
}

/* Height is set to 100% so it takes up the entire image-container */
#image-container img {
    height: 100%;
}

#text-container {
    text-align: center;
}

#first-app {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#first-app a {
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
}

#first-app a img {
    height: auto;
    width: 90%;
}

.app-text {
    display: grid;
    color: white;
    background-color: #025e73;
    height: 25px;
    justify-content: center;
    align-items: center;
}

#sub-apps {
    margin-top: 10px;
    display: flex;
}

#sub-apps-container {
    display: flex;
    width: 100%;
    padding-top: 20px;
}

#sub-apps-container .sub-apps {
    width: 50%;
    flex-direction: column;
}

#sub-apps-container .sub-apps a img {
    width: 100%;
    height: auto;
}

#footer {
    display: flex;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    text-align: center;
}

#footer div h3 {
    font-size: 20px;
}

#dots li {
    display: inline-block;
    padding: 5px 15px 0 15px;
    position: relative;
    right: 20px;
    text-decoration: black;
}

#dots li a {
    color: black;
}

@media screen and (min-width: 1355px) {

    #first-app:hover>a {
        opacity: 0.3;
        z-index: 0;
    }

    #first-app:hover>#pre-study-guide {
        height: 80px;
        font-size: 75px;
    }

    .sub-apps:hover>a {
        opacity: 0.3;
        z-index: 0;
    }

    .sub-apps:hover>#ucf-challenge {
        height: 80px;
        font-size: 75px;
    }

    .sub-apps:hover>#portfolio {
        height: 80px;
        font-size: 75px;
    }
}

@media screen and (min-width: 740px) {

    #header-text {
        font-size: 40px;
    }
}